/* 
.nav-wrapper {
  background-color: #333;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.navbar-toggler {
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  display: none;
}


.navbar-collapse {
  flex-grow: 1;
}

.navbar-collapse ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #bbb;
}


.nav-icon {
  width: 20px;
  height: 20px;
}


@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    flex-direction: column;
  }

  .navbar-collapse.active {
    display: flex;
  }

  .navbar-collapse ul {
    flex-direction: column;
    gap: 10px;
  }

  .nav-item {
    padding: 10px 0;
  }
} */
