/* General Styling start*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
  text-decoration: none;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* General end*/

/* header start */
@media only screen and (max-width: 768px) {
  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    color: white;
  }
  .nav-item {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    width: 190px;
    margin-top: 20px;
  }
}
.navbar-expand-md {
  background-color: #1d1d1f;
}
.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  color: white;
  text-align: left;
}
.fixed-top {
  background-color: #1d1d1f;
}
@media (min-width: 769px) {
  .nav-fill .nav-item .nav-link,
  .nav-justified .nav-item .nav-link {
    text-align: center;
  }
}
/* header end */

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}

/* for mobile without header and footer or from section 1- section 6 */
/* first section */
.first-section {
  background-color: #fafafa;
}
.links-wrapper ul {
  justify-content: center;
  /* i can not center using bootstrap */
}
.links-wrapper ul li a:hover {
  color: black;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  /* \f105 or  this font style for angle right  */
  content: "\f105";
  padding-left: 10px;
}
/* second section */
.price {
  color: #86868b;
}

/* for back background image */

.second-section,
.third-section,
.fourth-section .left-side-wrapper,
.fourth-section .right-side-wrapper,
.fith-section .left-side-wrapper {
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* second section  */
.second-section {
  background-image: url(../../commonResource/images/home/iphone11-pro-bg.jpg);
  color: #fff;
}
/* third section */
.third-section {
  background-image: url(../../commonResource/images/home/iphone11-bg.jpg);
  background-color: #f8f9fa;
}

/* fourth left-side section */
.fourth-section .left-side-wrapper {
  background-image: url(../../commonResource//images/home/watch-series-5.jpg);
}

/* fourth right side wrapper */
.fourth-section .right-side-wrapper {
  background-image: url(../../commonResource//images/home/apple-card.jpg);
}
/* fith left side section */
.fith-section .left-side-wrapper {
  background-image: url(../../commonResource/images/home/apple-tv-background.jpg);
}
.film-notification {
  margin-top: 180px;
}
.film-notification a:after {
  font-family: "fontawesome";
  /* f144 is circle play */
  content: "\f144";
  padding: 12px;
}
/* common property for fith and sixth */
.fith-section .right-side-wrapper,
.sixth-section .left-side-wrapper,
.sixth-section .right-side-wrapper {
  background-image: url(../../commonResource/images/home/air-pods.jpg);
  height: 580px;
  background-position: bottom;
  background-size: initial;
  background-repeat: no-repeat;
}
/* fith right side wrwpper  */
.fith-section .right-side-wrapper {
  background-image: url(../../commonResource/images/home/air-pods.jpg);
  background-color: #000;
}
/* sixth left side */
.sixth-section .left-side-wrapper {
  background-image: url(../../commonResource/images/home/macbook-pro.jpg);
  background-color: #fafafa;
}
/* right side  */
.sixth-section .right-side-wrapper {
  background-image: url(../../commonResource/images/home/new-ipad.jpg);
}
/* to create space between two display:flex, when media query is >=768px */
@media (min-width: 768px) {
  .col-md-6 {
    max-width: 49.5%;
    margin: 0 auto;
  }
}
.container-fluid {
  padding-inline: 0;
}
